{% extends "auth/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="container">

        <div class="row" style="padding-top: 20px">
                <div class="col-md-8 col-md-offset-2">
                    {% if form.errors %}
                        <div class="alert alert-warning" role="alert">{% trans 'wrong_password' %}</div>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <div class="alert alert-danger" role="alert">{% trans 'login_lack_of_permissions' %}</div>
                        {% else %}
                            <div class="alert alert-info" role="alert">{% trans 'login_redirect' %}</div>
                        {% endif %}
                    {% endif %}
                </div>
        </div>


        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading text-center">
                        <img src="{% static 'main/img/logo_refood.png' %}" style="width: 40%">
                    </div>
                    <div class="panel-body">
                        <form role="form"  method="post" action="">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="{% trans 'Email address or Username' %}" name="{{ form.username.name }}" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="{% trans 'Password' %}" name="{{ form.password.name }}" type="password" value="">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" value="{% trans 'Login' %}" class="btn btn-lg btn-success btn-block"/>
                                <input type="hidden" name="next" value="{{ next }}" />
                            </fieldset>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <a href="{% url 'main:password_reset' %}">{% trans 'password_forgot' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}