{% extends "main/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load verbose_names %}

{% block head %}
    {% trans 'profile_title' as page_title %}
    {% with page_title=page_title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    {% trans 'profile_title' as page_title %}
    {% with page_title=page_title %}
        {{ block.super }}
    {% endwith %}

    <div class="panel-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#user" data-toggle="tab" aria-expanded="true">{% trans 'User' %}</a>
            </li>
            <li class=""><a href="#volunteer" data-toggle="tab" aria-expanded="false">{% trans 'Volunteer' %}</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding-top: 10px">
            <div class="tab-pane fade active in" id="user">
                <form role="form" id="edit-profile-user-form">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form_user.username.label }}
                        {{ form_user.username }}
                    </div>
                    <div class="form-group">
                        {{ form_user.first_name.label }}
                        {{ form_user.first_name }}
                    </div>
                    <div class="form-group">
                        {{ form_user.last_name.label }}
                        {{ form_user.last_name }}
                    </div>
                    <input type="submit" class="btn btn-default" value="{% trans 'Submit' %}" />
                </form>
            </div>
            <div class="tab-pane fade" id="volunteer">
                <h4>{% trans 'Volunteer' %}</h4>
                {% if user_object.volunteer %}
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>{% get_verbose_field_name user_object.volunteer "date_of_birth" %}</td>
                                <td>{{ form_volunteer.date_of_birth }}</td>
                            </tr>
                            <tr>
                                <td>{% get_verbose_field_name user_object.volunteer "mobile_phone" %}</td>
                                <td>{{ form_volunteer.mobile_phone }}</td>
                            </tr>
                            <tr>
                                <td>{% get_verbose_field_name user_object.volunteer "car_availability" %}</td>
                                <td>{{ form_volunteer.car_availability }}</td>
                            </tr>
                            <tr>
                                <td>{% get_verbose_field_name user_object.volunteer "address" %}</td>
                                <td>{{ form_volunteer.address }}</td>
                            </tr>
                            <tr>
                                <td>{% get_verbose_field_name user_object.volunteer "academic_qualifications" %}</td>
                                <td>{{ form_volunteer.academic_qualifications }}</td>
                            </tr>
                            <tr>
                                <td>{% get_verbose_field_name user_object.volunteer "profession" %}</td>
                                <td>{{ form_volunteer.profession }}</td>
                            </tr>
                            <tr>
                                <td>{% get_verbose_field_name user_object.volunteer "volunteer_experience" %}</td>
                                <td>{{ form_volunteer.volunteer_experience }}</td>
                            </tr>
                            <tr>
                                <td>{% get_verbose_field_name user_object.volunteer "observations" %}</td>
                                <td>{{ form_volunteer.observations }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% else%}
                    <p>{% trans 'not_a_volunteer' %}</p>
                    {# TODO: Allow user to become volunteer #}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        var edit_profile_user_form_endpoint = '{% url 'main:edit_profile_user' user_object.pk %}';
        var django_csrf= '{{ csrf_token }}';
    </script>
    <script src="{% static 'main/js/edit_profile.js' %}"></script>
{% endblock %}