{% extends "main/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center"></i> {% trans 'logout_successful' %}</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{% static 'main/img/excesso_voluntarios_necessidade.png'%} " style="width: 100%">
                    </div>
                    <div class="panel-footer">
                        <a href="{% url 'volunteers:login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> {% trans 'click_to_login_again' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}